diff --git a/cloudify_agent/resources/pm/nssm/nssm.conf.template b/cloudify_agent/resources/pm/nssm/nssm.conf.template
index cbcd818..cc66604 100644
--- a/cloudify_agent/resources/pm/nssm/nssm.conf.template
+++ b/cloudify_agent/resources/pm/nssm/nssm.conf.template
@@ -29,6 +29,11 @@ CLOUDIFY_DAEMON_STORAGE_DIRECTORY="{{ storage_dir }}" ^
 AGENT_NAME="{{ name }}" ^
 CLOUDIFY_CLUSTER_SETTINGS_PATH="{{ cluster_settings_path }}"
 
+{% if service_user %}
+echo Registering agent service to run with user "{{ service_user}}"...
+"{{ nssm_path }}" set {{ name }} ObjectName "{{ service_user }}" "{{ service_password }}"
+if %errorlevel% neq 0 exit /b %errorlevel%
+{% endif %}
 "{{ nssm_path }}" set {{ name }} DisplayName "Cloudify Agent - {{ name }}"
 "{{ nssm_path }}" set {{ name }} Description "Cloudify Agent Service"
 
